#Top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true

[*.{prettierrc,js,json,ts}]
indent_size = 2

[*.{py,yml}]
indent_size = 2
indent_style = space
